extends layout

block content
  h1= title
  form#new-item(method="post" action="/new")
    input(type="submit" value="Add New Item" name="new" form="new-item")
  ul
    for name,id in items
      li
        a(href="c/#{id}") #{name}
    else
      li sorry, no items!